@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgba(32,33,36,255); */
}

.navbar {
    background-color: black;
}

.nav-link {
    color: white;
}

.navbar-brand {
    font-family: 'Press Start 2P', cursive;
    color: white;
}

.featured {
    width: 40em;
    margin: 5px auto;
    padding: 10px;
}

.card {
    background-color: orange;
}

/* .navbar-brand {
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */