@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(32,33,36,255);
}

h3{
    color: white;
}

.navbar {
    background-color: black;
}

.nav-link:hover {
    color: grey;
}

.nav-link {
    color: white;
}

.navbar-brand {
    font-family: 'Press Start 2P', cursive;
    color: white;
}

.featured {
    width: 49rem;
    margin: 15px auto;
    padding: 10px;
    text-align: center;
    color: black;
}
.btn-see{
        color: black;
        background-color: darkgrey;
        border: 5px solid darkgrey;
        border-radius: 0.5rem;
    }
#btnn{
    text-decoration: none;
    color: black;
}

#butt {
    display: flex;
    justify-content: center;
}

.blogs {
    width: 40em;
    margin: 5px auto;
    padding: 10px;
}

.card{
    text-align: center;
}

.card-img-left {
    float: left;
    width: 10rem;
    height: 10rem;
}

.navbar-brand {
    font-size: 1.5rem;
    background: -webkit-linear-gradient(#f50404, #3300ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#display {
    color: black;
    background-color: darkgrey;
    border: 5px solid darkgrey;
    border-radius: 0.5rem;
}